<footer>
    <img src="/images/tmdblogo.png" class="tmdblogo">

    <div class="nombres">
    <ul>
      <li>MATIAS GALLARDO</li>
      <li>JUAN IGNACIO BEDOIAN</li>
      <li>LUCIANO MARCOGLIESE</li>
    </ul>
  </div>
       </div>

 </footer>