<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">

    <a class="navbar-brand" href="/peliculas"> <img src="/images/logo.png" class="loguito" alt=""> </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/peliculas/listadoDeGeneros">Genres<span class="sr-only">(current)</span></a>
      </li>
      
      <li id=""class="nav-item">
        <a class="nav-link" href="/peliculas/favoritos">Favorite movies</a>
      </li>
     

      <li id=""class="nav-item">
        <a  href="/usuario/misResenas" class="nav-link" >Mis reseñas</a>
      </li>

     
      <li class= "nav-item">
        

        <form action="/peliculas/search"  class="uk-search uk-search-default buscar" method="GET"> 
          
            <input type="text" class="form-control mr-sm-2" name="search" placeholder="Buscador de usuario">
         </form> 

    </li> 
    <li class = "nav-item">   
        <div class= ""> 
      <select class="uk-select" name="resenas" onchange="location = this.value">
        <option selected="true" disabled = disabled> Reseñas</option>
        <option value="/peliculas/mejoresPuntuadas">Mejores puntuadas</option>
        <option value="/peliculas/peoresPuntuadas">Peores puntuadas</option>
        <option value="/peliculas/resenasRecientes">Mas recientes</option>
         </div>
      </select>
    </li>
               
<% if (variableUsuario == undefined){ %> 
    <li id="pruebitaLogin" class="nav-item">
        <a  style="color: gold"; class="uk-button uk-button-default btn btn-outline-warning nav-link" href="/usuario/pruebaLogin">Login </a>
      </li>
    <%} else {   %>
        <li id="pruebitaLogin" class="nav-item">
            <a  style="color: gold"; class="uk-button uk-button-default btn btn-outline-warning nav-link" href="/peliculas/logout">Logout </a>
          </li>
        <%  } %>
    </ul>
    

  
    <form method="get" action="/peliculas/buscador" class="uk-search uk-search-default buscar">
                    <span class="uk-search-icon-flip" uk-search-icon></span>
                    <input class="form-control mr-sm-2" name="q" type="search" placeholder="Buscador de peliculas" aria-label="Search" >
                </form>
                <% if (variableUsuario ==undefined) { %>
               
    <a  id="login" style="color:gold"; class="uk-button uk-button-default btn btn-outline-warning" href="#modal-sections" uk-toggle>Registrate</a>
              <%} else { %>
                <li style="list-style: none;"> 
                <h3 style="margin-left: 8px; margin-top: 15px;" > Hola <%=variableUsuario.nombre%>!  </h4>
                <% } %>
            </li>%>

</form>


<div id="modal-sections" uk-modal>
  <div class="uk-modal-dialog">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-modal-header">
          <h2 class="uk-modal-title">Registrate!</h2>
      </div>
      <div class="uk-modal-body">
       
        
<% if (typeof errores != "undefined") { %>
<ul style="color:red">
    <% for (let i = 0; i < errores.length; i++) { %>
        <li>
            <%=errores[i]%>
        </li>
    <% } %>
</ul>
<% } %>
          </ul>
        <form class="logincompleto" action="/peliculas" method="post">
       
      <form action="/usuario" method="POST">
        <br>
         <div>
             <label for="">Nombre</label>
             <input type="text" name="nombre">
         </div>
         
         <br>
         <div>
             <label for="">Email</label>
             <input type="text" name="email">
         </div>
         <br>
         <div>
             <label for="">Password</label>
             <input type="password" name="contraseña">
         
         </div>
         <div>
           <br>
             <label for="">Fecha de Nacimiento</label>
             <input type="date" name="nacimiento">
         
         </div>
         <br>
        
    
      <div class="uk-modal-footer uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
          <button class="uk-button uk-button-primary" type="submit">Send</button>
      </div>
    </form>      
  </div>
</div>
  </div>
</nav>
  </header>