<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a  id="login" style="color:gold"; class="uk-button uk-button-default btn btn-outline-warning" href="#modal-sections" uk-toggle>Login</a>

    <div id="modal-sections" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Login</h2>
            </div>
            <div class="uk-modal-body">
              <form class="logincompleto" action="/peliculas" method="post">
              <label for="nombre">Name</label>
              <input class="name" type="text" name="nombre" value="" required>
              <br>
              <label for="genero">Gender</label>
              <select class="" name="genero">
                <option value="fem">
                  Female
                </option>
                <option value="mal">
                  Male
                </option>
                <option value="other">
                  Other
                </option>
              </select>
              <br>
              <label for="email">Email</label>
              <input type="email" name="email" value="" required>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button class="uk-button uk-button-primary" type="submit">Send</button>
            </div>
                </form>
        </div>
      </div>
        </div>
</body>
</html>