<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/misResenas.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<% if (resultado.length == 0) { %> 
            <p class="necesitas">Necesitas estar logueado para acceder a esta seccion.</p>
            <a href="/usuario/pruebaLogin"> Loguiate!</a>

    <%} else {%>
    <h1>Tus resenas son:</h1>

    <% for (let i = 0; i < resultado.length; i++) { %>
        <li class="resena">
            <%=resultado[i].resenas%>
        </li>

        <form action="/usuario/delete/<%=resultado[i].id%>" method="POST">
            <input type="submit" value="Borrar">
        </form>
    
   
        <a href="/usuario/editar/<%=resultado[i].id%>">Editar</a> 

    <% }  } %>
    <footer>
        <img src="/images/tmdblogo.png" class="tmdblogo">
      
        <div class="nombres">
        <ul>
          <li>MATIAS GALLARDO</li>
          <li>JUAN IGNACIO BEDOIAN</li>
          <li>LUCIANO MARCOGLIESE</li>
        </ul>
      </div>
           </div>
      
      </footer>
      
</body>
</html>