<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>tus resenas son:</h1>

    <% for (let i = 0; i < resultado.length; i++) { %>
        <li>
            <%=resultado[i].resenas%>
        </li>

        <form action="/usuario/delete/<%=resultado[i].id%>" method="POST">
            <input type="submit" value="Borrar">
        </form>
    
   
        <a href="/usuario/editar/<%=resultado[i].id%>">Editar</a> 

    <% } %>

</body>
</html>