<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/pruebaLogin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <% if (typeof errores != "undefined") { %>
        <ul style="color:red">
            <% for (let i = 0; i < errores.length; i++) { %>
                <li>
                    <%=errores[i]%>
                </li>
            <% } %>
        </ul>
      <% } %>
      
        <form action="/usuario/pruebaLogin"  class="misResenas" method="POST">
          <br>
          <br>
          <div class="mail">
              <label class="email" for="">Email:</label>
              <br>
              <input type="email" name="pruebaEmail" value="" placeholder="Ingresa tu email">
          </div>
          <br>
          <br>
          <div class="contra">
              <label class="contrase単a" for="">Contrase単a:</label>
              <br>
              <input class="pass" type="password" name="pruebaContrase単a" value="" placeholder="Ingresa tu contrase単a">
          </div>
         <br>
         <br>
         <div class="reco">
            <label class="remember" for="">Recordame</label>
            <input type="checkbox" name="recordame" value="" >
        </div>
        <div class="sub">
          <input class="uk-button uk-button-default uk-margin uk-button-primary" type="submit" value="Login" >
        </div>
      </form>
      <footer>
          <div class="padre">
        <img src="/images/tmdblogo.png" class="tmdblogo">

        <div class="nombres">
        <ul>
          <li>MATIAS GALLARDO</li>
          <li>JUAN IGNACIO BEDOIAN</li>
          <li>LUCIANO MARCOGLIESE</li>
        </ul>
      </div>
           </div>
        </div>
     </footer>
</body>
</html>