<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registracion:</h1>
    <form action="/usuario" method="POST">
       <br>
        <div>
            <label for="">Nombre</label>
            <input type="text" name="nombre">
        </div>
        
        <br>
        <div>
            <label for="">Email</label>
            <input type="text" name="email">
        </div>
        <br>
        <div>
            <label for="">Password</label>
            <input type="password" name="contraseña">
        
        </div>
        <div>
            <label for="">Fecha de Nacimiento</label>
            <input type="date" name="nacimiento">
        
        </div>
        <br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
</body>
</html>