<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/usuarioresultado.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
<h1 class="a">Usuarios encontrados:</h1>


    <% for (let i = 0; i< usuarios.length; i++) { %>
<ul> 
        <li>
            <a class="b" href="/usuario/detalle/<%=usuarios[i].id%>" >
             Nombre: <%=usuarios[i].nombre %>
        </li>
       
    </ul>
    <% } %>
</body>
</html>