<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>listado Usuarios </h1>
    <ul>
        <% for (let i=0; i < usuariosResult.length; i++ ){ %> 
<li>
<%= usuariosResult[i].name %>
</li>
        <% } %> 
    </ul>
</body>
</html>