@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
html{
  cursor: url(/images/giphy.gif),default;
  height: 100%;
}
body{
  cursor: url(/images/giphy.gif),default;
  background-size: cover;
  background-image: url("/images/Fondo.png");
}

h1.a{
    font-family: Poppins;
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 45px;
}

.b{
    font-size: 30px;
}